Package	Version
ade4	1.7-23
affy	1.76.0
affyio	1.68.0
agricolae	1.3-7
ALDEx2	1.30.0
AlgDesign	1.2.1.1
ANCOMBC	2.0.2
annotate	1.76.0
AnnotationDbi	1.60.2
ape	5.8-1
aplot	0.2.5
ash	1.0-15
askpass	1.2.1
backports	1.5.0
base64enc	0.1-3
bayesplot	1.11.1
bayestestR	0.15.0
BBmisc	1.13
bbmle	1.0.25.1
bdsmatrix	1.3-7
beachmat	2.14.2
beeswarm	0.4.0
bench	1.1.3
BH	1.87.0-1
biglm	0.9-3
binom	1.1-1.1
Biobase	2.60.0
BiocBaseUtils	1.0.0
BiocGenerics	0.44.0
BiocManager	1.30.25
BiocNeighbors	1.16.0
BiocParallel	1.32.6
BiocSingular	1.14.0
BiocStyle	2.26.0
BiocVersion	3.16.0
biomformat	1.26.0
Biostrings	2.66.0
bit	4.6.0
bit64	4.6.0-1
bitops	1.0-9
biwt	1.0.1
bladderbatch	1.36.0
blob	1.2.4
bnclassify	0.4.8
bookdown	0.41
brew	1.0-10
bridgesampling	1.1-2
brio	1.1.5
brms	2.22.0
Brobdingnag	1.2-9
broom	1.0.7
broom.mixed	0.2.9.6
BSDA	1.2.2
bslib	0.9.0
BWStest	0.2.3
ca	0.71.1
cachem	1.1.0
Cairo	1.6-2
callr	3.7.6
carData	3.0-5
caret	7.0-1
caTools	1.18.3
checkmate	2.3.2
chemometrics	1.4.4
circlize	0.4.16
classInt	0.4-10
cli	3.6.5
clipr	0.8.0
clock	0.7.3
clue	0.3-66
coda	0.19-4.1
coin	1.4-3
colorBlindness	0.1.9
colorspace	2.1-1
colourpicker	1.3.0
combinat	0.0-8
commonmark	1.9.5
ComplexHeatmap	2.14.0
condMVNorm	2020.1
config	0.3.2
conflicted	1.2.0
corpcor	1.6.10
corrplot	0.95
countrycode	1.6.0
covr	3.6.4
cowplot	1.1.3
cplm	0.7-12.1
cpp11	0.5.2
crayon	1.5.3
credentials	2.0.2
crosstalk	1.2.1
cubature	2.1.1
curl	6.2.2
CVXR	1.0-15
data.table	1.17.2
datawizard	0.13.0
DBI	1.2.3
dbplyr	2.5.0
dbscan	1.2-0
debugme	1.2.0
DECIPHER	2.26.0
decontam	1.18.0
deepnet	0.2.1
DelayedArray	0.24.0
DelayedMatrixStats	1.20.0
deldir	2.0-4
dendextend	1.18.1
DEoptimR	1.1-3
desc	1.4.3
DescTools	0.99.60
DESeq2	1.38.3
devtools	2.4.5
DHARMa	0.4.7
diagram	1.6.5
diffobj	0.3.5
diffviewer	0.1.2
digest	0.6.37
diptest	0.77-1
DirichletMultinomial	1.40.0
discordant	1.22.0
distributional	0.5.0
DMwR	0.4.1
doFuture	1.0.1
doMC	1.3.8
doParallel	1.0.17
doRNG	1.8.6.2
doSNOW	1.0.20
dotwhisker	0.8.3
downlit	0.4.4
dplyr	1.1.4
dqrng	0.4.1
DT	0.33
dtplyr	1.3.1
dunn.test	1.3.6
dygraphs	1.1.1.6
dynamicTreeCut	1.63-1
e1071	1.7-16
echarts4r	0.4.5
ECOSolveR	0.5.5
edgeR	3.40.2
effects	4.2-2
egg	0.4.5
ellipse	0.5.0
ellipsis	0.3.2
emmeans	1.11.1
energy	1.7-12
entropy	1.3.1
estimability	1.5.1
evaluate	1.0.3
Exact	3.3
expm	1.0-0
factoextra	1.0.7
FactoInvestigate	1.9
FactoMineR	2.11
Factoshiny	2.6
fANCOVA	0.6-1
fansi	1.0.6
farver	2.1.2
fastcluster	1.2.6
fastmap	1.2.0
fastshap	0.1.1
fBasics	4041.97
FD	1.0-12.3
fdrtool	1.2.18
filematrix	1.3
flashClust	1.01-2
flexmix	2.3-19
fMultivar	4031.84
FNN	1.1.4.1
fontawesome	0.5.3
forcats	1.0.0
foreach	1.5.2
formatR	1.14
Formula	1.2-5
fpc	2.2-13
fs	1.6.6
FSA	0.9.5
furrr	0.3.1
future	1.49.0
future.apply	1.11.3
gap	1.6
gap.datasets	0.0.6
gargle	1.5.2
gbm	2.2.2
gclus	1.3.2
genefilter	1.80.3
geneplotter	1.76.0
generics	0.1.4
GenomeInfoDb	1.34.9
GenomeInfoDbData	1.2.9
GenomicRanges	1.50.2
geometry	0.5.0
gert	2.1.4
GetoptLong	1.0.5
ggalluvial	0.12.5
GGally	2.2.1
ggbeeswarm	0.7.2
ggbiplot	0.55
ggExtra	0.10.1
ggfittext	0.10.2
ggforce	0.4.2
ggfun	0.1.8
gggenes	0.5.1
ggplot2	3.5.2
ggplotify	0.1.2
ggpubr	0.6.0
ggrastr	1.0.2
ggrepel	0.9.6
ggridges	0.5.6
ggsci	3.2.0
ggsignif	0.6.4
ggstance	0.3.7
ggstats	0.7.0
ggthemes	5.1.0
ggtree	3.6.2
ggvenn	0.1.10
gh	1.4.1
gitcreds	0.1.2
glasso	1.11
gld	2.6.7
glmmTMB	1.1.10
glmnet	4.1-8
GlobalOptions	0.1.2
globals	0.18.0
glue	1.8.0
gmp	0.7-5
GO.db	3.16.0
golubEsets	1.40.0
googledrive	2.1.1
googlesheets4	1.1.1
gower	1.0.2
GPArotation	2024.3-1
gplots	3.2.0
gridExtra	2.3
gridGraphics	0.5-1
gridSVG	1.7-5
gridtext	0.1.5
gsl	2.1-8
gss	2.2-8
gtable	0.3.6
gtools	3.9.5
h2o	3.42.0.2
hardhat	1.4.1
hash	2.2.6.3
haven	2.5.4
heatmaply	1.5.0
here	1.0.1
hexbin	1.28.4
highr	0.11
Hmisc	5.2-3
hms	1.1.3
htmlTable	2.4.3
htmltools	0.5.8.1
htmlwidgets	1.6.4
httpuv	1.6.16
httr	1.4.7
httr2	1.0.5
huge	1.3.5
hunspell	3.0.5
huxtable	5.5.7
hwriter	1.3.2.1
ids	1.0.1
igraph	2.1.4
impute	1.72.3
ini	0.3.1
inline	0.3.19
insight	0.20.5
ipred	0.9-15
IRanges	2.32.0
IRdisplay	1.1
irlba	2.3.5.1
isoband	0.2.7
iterators	1.0.14
jomo	2.7-6
jpeg	0.1-10
jquerylib	0.1.4
jsonlite	2.0.0
KEGGREST	1.38.0
keras	2.15.0
kernelshap	0.7.0
kernlab	0.9-33
klaR	1.7-3
km.ci	0.5-6
knitr	1.5
kSamples	1.2-10
labdsv	2.1-0
labeling	0.4.3
labelled	2.13.0
Lahman	12.0-0
LaplacesDemon	16.1.6
lars	1.3
latentcor	2.0.1
later	1.4.2
lava	1.8.1
lavaan	0.6-19
lazyeval	0.2.2
leaps	3.2
libcoin	1.0-10
lifecycle	1.0.4
lightgbm	4.5.0
lime	0.5.3
limma	3.54.2
linprog	0.9-4
listenv	0.9.1
listviewer	4.0.0
lme4	1.1-37
lmerTest	3.1-3
lmom	3.2
lmtest	0.9-40
lobstr	1.1.2
locfit	1.5-9.12
logging	0.10-108
logspline	2.1.22
loo	2.8.0
lpSolve	5.6.21
lpsymphony	1.26.3
lsa	0.73.3
lubridate	1.9.4
M3C	1.20.0
Maaslin2	1.12.0
magic	1.6-1
magrittr	2.0.3
maps	3.4.2
maptools	1.1-8
margins	0.3.28
markdown	1.13
mathjaxr	1.6-0
Matrix	1.6-5
matrixcalc	1.0-6
MatrixGenerics	1.10.0
MatrixModels	0.5-3
matrixStats	1.5.0
mclust	6.1.1
mediation	4.5.0
memoise	2.0.1
metadat	1.2-0
metafor	4.6-0
metagenomeSeq	1.40.0
MetBrewer	0.2.0
mia	1.6.0
mice	3.16.0
microbenchmark	1.5.0
microbiomeMarker	1.13.2
mime	0.13
miniUI	0.1.1.1
minpack.lm	1.2-4
minqa	1.2.8
missMDA	1.19
mitml	0.4-5
mitools	2.4
mixedCCA	1.6.2
mlmRev	1.0-8
mnormt	2.1.1
ModelMetrics	1.2.2.2
modelr	0.1.11
modeltools	0.2-24
modules	0.13.0
multcomp	1.4-28
multcompView	0.1-10
MultiAssayExperiment	1.24.0
multitaper	1.0-17
multtest	2.54.0
MuMIn	1.48.4
munsell	0.5.1
mvabund	4.2.1
mvnfast	0.2.8
mvtnorm	1.3-3
NADA	1.6-1.1
NetCoMi	1.1.0
nleqslv	3.3.5
nloptr	2.2.1
nortest	1.0-4
np	0.60-17
NSM3	1.18
nycflights13	1.0.2
openssl	2.3.2
openxlsx	4.2.7.1
optparse	1.7.5
orca	1.1-3
ordinal	2023.12-4.1
org.Hs.eg.db	3.16.0
osqp	0.6.3.3
pairwiseAdonis	0.4.1
palmerpenguins	0.1.1
pan	1.9
parallelly	1.44.0
parameters	0.23.0
parsedate	1.3.1
partitions	1.10-7
patchwork	1.3.0
pbapply	1.7-2
pbivnorm	0.6.0
pcaPP	2.0-5
pdp	0.8.2
performance	0.12.4
permute	0.9-7
pheatmap	1.0.12
phyloseq	1.44.0
pillar	1.10.2
pingr	2.0.4
pixmap	0.4-13
pkgbuild	1.4.5
pkgdown	2.1.1
pkgload	1.4.0
plogr	0.2.0
plotly	4.10.4
plotlyGeoAssets	0.0.2
plotrix	3.8-4
plotROC	2.3.1
pls	2.8-5
plyr	1.8.9
PMCMRplus	1.9.12
png	0.1-8
polyclip	1.10-7
polynom	1.4-1
posterior	1.6.0
prabclus	2.3-4
praise	1.0.0
prediction	0.3.18
preprocessCore	1.60.2
prettydoc	0.4.1
prettyunits	1.2.0
pROC	1.18.5
processx	3.8.4
prodlim	2025.04.28
profmem	0.6.0
profvis	0.4.0
progress	1.2.3
progressr	0.15.1
promises	1.3.2
proxy	0.4-27
PRROC	1.3.1
ps	1.8.1
pscl	1.5.9
psych	2.4.6.26
pulsar	0.3.11
purrr	1.0.4
pvca	1.38.0
pwr	1.3-0
qap	0.1-2
qgam	1.3.4
qgraph	1.9.8
qpcR	1.4-1
quadprog	1.5-8
quantmod	0.4.26
quantreg	5.99
questionr	0.7.8
QuickJSR	1.4.0
qvalue	2.30.0
R.cache	0.16.0
R.methodsS3	1.8.2
R.oo	1.26.0
R.utils	2.12.3
R6	2.6.1
rafalib	1.0.0
ragg	1.4.0
randomForest	4.7-1.2
ranger	0.16.0
rbibutils	2.3
rcartocolor	2.1.1
rcmdcheck	1.4.0
RColorBrewer	1.1-3
Rcpp	1.0.14
RcppAnnoy	0.0.22
RcppArmadillo	14.4.2-1
RcppEigen	0.3.4.0.2
RcppGSL	0.3.13
RcppHNSW	0.6.0
RcppML	0.3.7
RcppParallel	5.1.10
RcppProgress	0.4.2
RcppTOML	0.2.2
RcppZiggurat	0.1.6
RCurl	1.98-1.17
Rdpack	2.6.4
reactlog	1.1.1
readr	2.1.5
readxl	1.4.5
recipes	1.3.0
reformulas	0.4.1
registry	0.5-1
rematch	2.0.0
rematch2	2.1.2
remotes	2.5.0
repr	1.1.7
reprex	2.1.1
reshape	0.8.9
reticulate	1.39.0
rex	1.2.1
Rfast	2.1.5.1
Rfit	0.27.0
rgl	1.3.12
rhdf5	2.42.1
rhdf5filters	1.10.1
Rhdf5lib	1.20.0
rjson	0.2.23
rlang	1.1.6
rmarkdown	2.29
Rmpfr	1.1-0
rngtools	1.5.2
robustbase	0.99-4-1
ROCR	1.0-11
rootSolve	1.8.2.4
ROSE	0.0-4
roxygen2	7.3.2
rprojroot	2.0.4
rsample	1.2.1
rsm	2.10.5
RSpectra	0.16-2
RSQLite	2.3.11
rstan	2.32.6
rstantools	2.4.0
rstatix	0.7.2
rstudioapi	0.17.1
rsvd	1.0.5
Rtsne	0.17
rversions	2.1.2
rvest	1.0.4
s2	1.1.7
S4Vectors	0.36.2
sandwich	3.1-1
sass	0.4.10
ScaledMatrix	1.6.0
scales	1.4.0
scater	1.26.1
scatterplot3d	0.3-44
scs	3.2.7
scuttle	1.8.4
selectr	0.4-2
seriation	1.5.6
sessioninfo	1.2.2
sets	1.0-25
shades	1.4.0
shape	1.4.6.1
SHAPforxgboost	0.1.3
shapr	0.2.2
shapviz	0.9.6
shiny	1.10.0
shinydashboard	0.7.2
shinyjqui	0.4.1
shinyjs	2.1.0
shinystan	2.6.0
shinytest	1.6.1
shinythemes	1.2.0
shinyWidgets	0.8.7
showimage	1.0.0
showtext	0.9-7
showtextdb	3
SingleCellExperiment	1.20.1
sitmo	2.0.2
Skillings.Mack	1.1
slam	0.1-54
slider	0.3.2
sn	2.1.1
snm	1.46.0
snow	0.4-4
SnowballC	0.7.1
som	0.3-5.2
sourcetools	0.1.7-1
sp	2.2-0
SparseM	1.84-2
sparseMatrixStats	1.10.0
sparsevctrs	0.3.3
spelling	2.3.1
SpiecEasi	1.1.3
SPRING	1.0.4
SQUAREM	2021.1
stabledist	0.7-2
StanHeaders	2.32.10
statmod	1.5.0
stringi	1.8.7
stringr	1.5.1
styler	1.10.3
SummarizedExperiment	1.28.0
SuppDists	1.1-9.8
survey	4.4-2
survivalROC	1.0.3.1
sva	3.46.0
svglite	2.1.3
sys	3.4.3
sysfonts	0.8.9
systemfonts	1.2.3
tensorA	0.36.2.1
tensorflow	2.16.0
testit	0.13
testthat	3.2.1.1
texreg	1.39.4
textshaping	1.0.1
tfautograph	0.3.2
tfruns	1.5.3
TH.data	1.1-3
threejs	0.3.3
tibble	3.2.1
tictoc	1.2.1
tidyr	1.3.1
tidyselect	1.2.1
tidytree	0.4.6
tidyverse	2.0.0
timechange	0.3.0
timeDate	4041.11
timeSeries	4041.111
tinytex	0.57
TMB	1.9.15
treeio	1.22.0
treeshap	0.3.1
TreeSummarizedExperiment	2.6.0
truncnorm	1.0-9
TSP	1.2-4
TTR	0.24.4
tweedie	2.3.5
tweenr	2.0.3
tximport	1.26.1
tximportData	1.26.0
tzdb	0.5.0
ucminf	1.2.2
umap	0.2.10.0
UpSetR	1.4.0
urlchecker	1.0.1
usethis	3.0.0
utf8	1.2.5
uuid	1.2-1
uwot	0.2.3
vcd	1.4-13
vctrs	0.6.5
vdiffr	1.0.7
vegan	2.6-10
VennDiagram	1.7.3
VGAM	1.1-12
vipor	0.4.7
viridis	0.6.5
viridisLite	0.4.2
vroom	1.6.5
vsn	3.66.0
waldo	0.5.3
warp	0.2.1
waveslim	1.8.5
webdriver	1.0.6
webshot	0.5.5
wesanderson	0.3.7
WGCNA	1.73
whisker	0.4.1
withr	3.0.2
wk	0.9.4
wordcloud2	0.2.1
Wrench	1.16.0
xfun	0.52
xgboost	1.7.8.1
XML	3.99-0.18
xml2	1.3.6
xopen	1.0.1
xtable	1.8-4
xts	0.14.1
XVector	0.38.0
yaml	2.3.10
yulab.utils	0.2.0
zCompositions	1.5.0-4
zeallot	0.1.0
zigg	0.0.2
zip	2.3.1
zlibbioc	1.44.0
zoo	1.8-14
abind	1.4-5
assertthat	0.2.1
backports	1.2.1
BH	1.75.0-0
Biobase	2.50.0
BiocGenerics	0.36.0
BiocManager	1.30.10
BiocParallel	1.24.1
BiocVersion	3.12.0
Biostrings	2.58.0
bitops	1.0-6
broom	0.7.4
BSgenome	1.58.0
BSgenome.Hsapiens.UCSC.hg38	1.4.3
car	3.0-10
carData	3.0-4
cellranger	1.1.0
cli	2.3.0
clipr	0.7.1
conquer	1.0.2
cpp11	0.2.6
crayon	1.4.0
curl	4.3
data.table	1.13.6
DelayedArray	0.16.1
digest	0.6.27
doMC	1.3.7
dplyr	1.0.4
ellipsis	0.3.1
evaluate	0.14
fansi	0.4.2
forcats	0.5.1
foreach	1.5.1
formatR	1.7
futile.logger	1.4.3
futile.options	1.0.1
generics	0.1.0
GenomeInfoDb	1.26.2
GenomeInfoDbData	1.2.4
GenomicAlignments	1.26.0
GenomicRanges	1.42.0
getopt	1.20.3
glue	1.4.2
haven	2.3.1
highr	0.8
hms	1.0.0
hwriter	1.3.2
IRanges	2.24.1
iterators	1.0.13
jpeg	0.1-8.1
jsonlite	1.7.2
Kmisc	0.5.0
knitr	1.31
lambda.r	1.2.4
latticeExtra	0.6-29
lifecycle	0.2.0
lme4	1.1-26
magrittr	2.0.1
maptools	1.0-2
markdown	1.1
MatrixGenerics	1.2.1
MatrixModels	0.4-1
matrixStats	0.58.0
mime	0.9
minqa	1.2.4
nloptr	1.2.2.2
numDeriv	2016.8-1.1
openxlsx	4.2.3
pbkrtest	0.5-0.1
pillar	1.4.7
pkgconfig	2.0.3
plyr	1.8.6
png	0.1-7
prettyunits	1.1.1
progress	1.2.2
pryr	0.1.4
purrr	0.3.4
quantreg	5.83
R6	2.5.0
rappdirs	0.3.3
RColorBrewer	1.1-2
Rcpp	1.0.6
RcppArmadillo	0.10.1.2.2
RcppEigen	0.3.3.9.1
RCurl	1.98-1.2
readr	1.4.0
readxl	1.3.1
rematch	1.0.1
reshape2	1.4.4
reticulate	1.18
Rhtslib	1.22.0
rio	0.5.16
rlang	0.4.10
rlist	0.4.6.1
Rsamtools	2.6.0
rtracklayer	1.50.0
S4Vectors	0.28.1
ShortRead	1.48.0
snow	0.4-3
snowfall	1.84-6.1
sp	1.4-5
SparseM	1.78
statmod	1.4.35
stringi	1.5.3
stringr	1.4.0
SummarizedExperiment	1.20.0
tibble	3.0.6
tidyr	1.1.2
tidyselect	1.1.0
utf8	1.1.4
vctrs	0.3.6
xfun	0.2
XML	3.99-0.5
XVector	0.30.0
yaml	2.2.1
zip	2.1.1
zlibbioc	1.36.0
base	4.2.2
boot	1.3-28
class	7.3-20
cluster	2.1.4
codetools	0.2-18
compiler	4.2.2
datasets	4.2.2
foreign	0.8-82
graphics	4.2.2
grDevices	4.2.2
grid	4.2.2
KernSmooth	2.23-20
lattice	0.20-45
MASS	7.3-58
Matrix	1.5-1
methods	4.2.2
mgcv	1.8-41
nlme	3.1-160
nnet	7.3-18
parallel	4.2.2
rpart	4.1.19
spatial	7.3-13
splines	4.2.2
stats	4.2.2
stats4	4.2.2
survival	3.4-0
tcltk	4.2.2
tools	4.2.2
utils	4.2.2

